<?xml version="1.0" encoding="utf-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxiaosi.common.mapper.WordMapper">
    <!-- id: sql语句的唯一标识 -->
    <!-- resultType: 返回值类型 -->
    <!-- parameterType: 参数类型 -->
    <!-- 实体类字段和数据库一致直接用resultType -->

    <!--  获取单词列表  -->
    <select id="getWordList" resultType="com.zxiaosi.common.entity.Word">
        select *
        from word
    </select>

    <!--  获取单词详情  -->
    <select id="getWordDetail" resultType="com.zxiaosi.common.entity.Word">
        select *
        from word
        where id = #{id}
    </select>

    <!--  添加单词  -->
    <insert id="addWord" parameterType="com.zxiaosi.common.entity.Word">
        insert into word (word, translation1, translation2)
        values (#{word}, #{translation1}, #{translation2})
    </insert>

    <!--  更新单词  -->
    <update id="updateWord" parameterType="com.zxiaosi.common.entity.Word">
        update word
        set word         = #{word},
            translation1 = #{translation1},
            translation2 = #{translation2}
        where id = #{id}
    </update>

    <!--  收藏单词  -->
    <update id="favoritesWord" parameterType="com.zxiaosi.common.entity.Word">
        update word
        set favorites = 1
        where id = #{id}
    </update>

    <!--  取消收藏单词  -->
    <update id="cancelFavoritesWord" parameterType="com.zxiaosi.common.entity.Word">
        update word
        set favorites = 0
        where id = #{id}
    </update>

    <!--  获取收藏单词列表  -->
    <select id="getFavoritesWordList" resultType="com.zxiaosi.common.entity.Word">
        select *
        from word
        where favorites = 1
    </select>

</mapper>